* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item1 {
    grid-area: left;
}

.item2 {
    grid-area: main;
}

.item3 {
    grid-area: right;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'left main right';
    gap: 5px;
    background-color: rgb(78, 78, 170);
    padding: 10px;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.grid-container>div {

    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.form button {
    cursor: pointer;
    background-color: #1c176f;
    border: solid 1px #283593;
    color: white;
    border-radius: 15px;
    padding: 10px;
    font-size: 1rem;
    width: 100%;
}

.form button:hover {
    background-color: hwb(215 7% 16%);
}

.form input {
    width: 100%;
    border: solid 2px #9fa8da;
    outline: none;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 5px;

}

.title-01 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.p-01 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
}

.title-02 {
    margin-bottom: 10px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: left;

}

.fundo-01 {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background-image: url("./div01.jpeg");
}

.fundo-02 {
    background-color: white;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

#a {
    text-decoration: none;
    color: red;
    font-size: 50px;
    font-weight: bold;
}

.msg {
    font-size: 100px;
    color: blue;
    text-align: center;
}

/* CSS Grid */

[class*="col-"] {
    padding: 5px 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}

/* small devices */
@media only screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

/* medium devices */
@media only screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

/* large devices */
@media only screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

/* X-large devices */
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* XX-Large devices */
@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

/* CSS Flex */

.flex {
    display: flex;
}

.flex-align-items-center {
    align-items: center;
}

.flex-justify-content-center {
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}